/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html{
	background: black;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

h1{
  font-family: 'Playfair Display', serif;
}

h2{
  font-family: 'Playfair Display', serif;
}

p, button, div, ul, li, a{
  font-family: 'Lora', serif !important;
}
.main-container{
  background: #000;
  width: 100%;
}

::-webkit-scrollbar{
  width: 5px;
  background: #000;
}
::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:active{
  background-color: rgb(250,250,250);
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}
.cleardiv{
	height: 80px !important;
	display: block;
	width: 100% !important;
}
/* ========Landing========== */

#landing{
  position: relative;
  padding: 20% 5%;
  background: url("../img/1.jpg");
  background-size:cover;
  background-attachment: fixed;
  color: white;
  width: 100%;
  text-align: center;
}
#landing a{
  position: absolute;
  bottom: 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  height: 60px;
  padding: 10px 20px;
  background: rgba(0,0,0,0.5);
  border: none;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  transition-duration: 0.3s;
}

#landing a:hover{
  background: rgba(50,50,50,0.5);
}

nav{
  transition-duration: 0.3s !important;
  background: rgba(30,30,30,0.85) !important;
	padding-right: 20px;
}

.navtop{
  background: transparent !important;
}
.navbar-nav>li>a{
	line-height: 25px !important;
	font-size: 15px;
}
nav a{
  color: white !important;
  transition-duration: 0.3s !important;
}
nav a:hover{
  color: aqua !important;
}

.active, .active a{
  background: rgba(255,255,255,0.2) !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar{
  color: rgb(230,230,230) !important;
}

.dropdown-menu{
	background: rgba(0,0,0,0.50) !important;
}

.navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image: none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: rgba(0,0,0,0.50) !important;
}
.dropdown{
	width: 160px;
	text-align: center;
}
.dropdown-item{
	display: block !important;
	text-decoration: none;
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 10px 5px;
}
.dropdown-item:hover{
	text-decoration: none;
	color: white !important;
	background: rgba(200,200,200,0.40);
}
/* END */

/* ========Members========== */
#members{
  background: #fff;
  text-align: center;
  width: 100%;
  padding: 5%;
	vertical-align: center;
}
#members h2{
  padding-top: 2%;
}
.row{
  padding: 2% 10%;
}
.card{
  background: rgb(253,253,253);
  padding: 20px;
  border-radius: 1%;
  box-shadow: 0 0 1px 1px rgba(100,100,100,0.3);
  border: 1px rgba(100,100,100,0.20) solid;
}
.card-name{
  font-weight: bolder;
  font-size: 1.1em;
  padding: 5px;
	white-space: nowrap;
}
.ProfileIcon *{
  height: 80px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.Role{
  font-size: 1.1em;
  font-weight: bold;
}
/* END */
/* ========about========== */
#about{
  background: url('../img/2.jpg') rgba(80,20,100,0.5);
  padding: 3%;
  font-size: 20px;
  background-size:cover;
  background-attachment: fixed;
}

.fluffy-card{
  background: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.fluffy-card p{
  margin-bottom: 20px;
}

a.button{
  border-radius: 15px;
  padding: 10px;
  color: white;
  border: 1px solid rgba(200,200,200,0.5);
  background: transparent;
  text-align: center;
  transition-duration: 0.3s;
}
a.button:hover{
  text-decoration: none;
  color: white;
  background: rgba(50,50,50,0.5);
}

/* END */
/* ========Footer========== */
#footer{
  height: 30px;
  text-align: center;
  font-size: 13px !important;
  background: rgb(20,20,20);
  color: rgb(180,180,180);
  padding: 10px;
  margin: auto;
}

#footer p{
	font-size: 13px;
}

/* END */
